.cellWithImg {
  display: flex;
  align-items: center;

  .cellImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }

  .status {
    padding: 5px;
    border-radius: 5px;

    &.User {
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
    }

    &.Admin {
      color: goldenrod;
      background-color: rgba(189, 189, 3, 0.103);
    }
  }
}
.cellAction {
  display: flex;
  align-items: center;
  gap: 15px;

  .viewButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: darkblue;
    border: 1px dotted rgba(0, 0, 139, 0.596);
    cursor: pointer;
  }
  
  .deleteButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: crimson;
    border: 1px dotted rgba(220, 20, 60, 0.6);
    cursor: pointer;
  }
}

.search-bar{
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  
  & input {
    padding: 15px 10px;
    width: 100%;
    border: none;
    background-color: #eeee;
    border-radius: 5px;
    caret-color: rgb(255, 47, 116);
    
  }
}