.status{
   padding: 5px;
   border-radius: 5px; 
   
    &.User{
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
    }
    &.Admin {
      color: goldenrod;
      background-color: rgba(189, 189, 3, 0.103);
    }
}